.cine-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cine-item {
  border: 1px solid #f2e446;
  padding: 15px;
  border-radius: 8px;
  background: #ad9e66;
}

.cine-item img {
  width: 100%;
  border-radius: 8px;
}